Repository mlin/sqlite_web_vfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: clang-format
    args: [-i,'-style={IndentWidth: 4, ColumnLimit: 100}']
  - id: cppcheck
    name: cppcheck
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: cppcheck
    args: [-q,--language=c++]
  - id: black
    name: black
    language: system
    files: \.py$
    verbose: true
    entry: black
    args: [-l,'100']

aha
  src/HTTP.h
Due: clang-format, cppcheck

cleanup
  src/HTTP.h
Due: clang-format, cppcheck

Logging & curl_global_init
  src/HTTP.h
  src/web_vfs.h
Due: clang-format, cppcheck

don't build web_vfs target as fetched content
  CMakeLists.txt
Due: none

more-granular log levels
  README.md
  src/web_vfs.h
Due: clang-format, cppcheck

TPC-H Q8 stress-test
  test/test_1basic.py
Due: black

TPC-H Q8 stress-test
  .github/workflows/CI.yml
Due: none

retry 429
  src/HTTP.h
Due: clang-format, cppcheck

retry 429
  src/web_vfs.h
Due: clang-format, cppcheck

OOPS
  test/test_1basic.py
Due: black

TPC-H Q8 stress-test (#3)
  .github/workflows/CI.yml
  src/HTTP.h
  src/web_vfs.h
  test/test_1basic.py
Due: clang-format, cppcheck, black

Update README.md
  README.md
Due: none

wip
  .github/workflows/CI.yml
  CMakeLists.txt
  src/web_vfs.h
  test/local_stress_test.cc
  test/test_httpd.cc
  test/test_httpd.h
Due: clang-format, cppcheck

wip
  test/local_stress_test.cc
  test/test_httpd.cc
Due: clang-format, cppcheck

wip
  .github/workflows/CI.yml
  CMakeLists.txt
  Dockerfile
  src/HTTP.h
  src/web_vfs.h
  test/local_stress_test.cc
  test/test_httpd.cc
  test/test_httpd.h
Due: clang-format, cppcheck

wip
  README.md
  src/HTTP.h
  test/local_stress_test.cc
Due: clang-format, cppcheck

wip
  Dockerfile
Due: none

wip
  test/local_stress_test.cc
Due: clang-format, cppcheck

local HTTPS stress-test (#4)
  .github/workflows/CI.yml
  CMakeLists.txt
  Dockerfile
  README.md
  src/HTTP.h
  src/web_vfs.h
  test/local_stress_test.cc
  test/test_httpd.cc
  test/test_httpd.h
Due: clang-format, cppcheck

fix retry body
  src/HTTP.h
  src/web_vfs.h
Due: clang-format, cppcheck

ThreadPoolWithEnqueueFast::Barrier: avoid cycling worker thread
  src/ThreadPool.h
Due: clang-format, cppcheck

stress test retry logic
  test/local_stress_test.cc
  test/test_httpd.cc
Due: clang-format, cppcheck

prefetch tuning
  src/web_vfs.h
Due: clang-format, cppcheck

tweak
  src/web_vfs.h
  test/local_stress_test.cc
Due: clang-format, cppcheck

wip
  src/web_vfs.h
  test/local_stress_test.cc
Due: clang-format, cppcheck

simplify
  src/web_vfs.h
Due: clang-format, cppcheck

tweak
  src/web_vfs.h
Due: clang-format, cppcheck

tune & fix bugs in prefetching logic (#5)
  src/web_vfs.h
Due: clang-format, cppcheck

sqlite_web_dbi.py first draft
  sqlite_web_dbi.py
Due: black

read database header & check geometry
  src/web_vfs.h
Due: clang-format, cppcheck

dbi mvp
  README.md
  sqlite_web_dbi.py
  src/DBI.h
  src/web_vfs.h
  test/test_1basic.py
Due: clang-format, cppcheck, black

dbi gobig
  README.md
  src/DBI.h
  src/web_vfs.h
Due: clang-format, cppcheck

eager .dbi download
  README.md
  sqlite_web_dbi.py
  src/DBI.h
  src/web_vfs.h
  test/local_stress_test.cc
Due: clang-format, cppcheck, black

polish
  README.md
Due: none

fixup
  src/DBI.h
  src/web_vfs.h
Due: clang-format, cppcheck
