Repository mlin/sqlite_web_vfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --language=c++

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

enable CI
  .github/workflows/CI.yml
  CMakeLists.txt
  Dockerfile
  test/test_1basic.py
Due: black

Update README.md
  README.md
Due: none

tidy libcurl initialization
  src/HTTP.h
  src/web_vfs.cc
  src/web_vfs.h
Due: clang-format, cppcheck

drop spdlog
  CMakeLists.txt
  src/HTTP.h
  src/web_vfs.cc
  src/web_vfs.h
Due: clang-format, cppcheck

HTTP retry logic
  src/HTTP.h
  src/web_vfs.h
Due: clang-format, cppcheck

request logging
  CMakeLists.txt
  src/HTTP.h
  src/web_vfs.cc
  src/web_vfs.h
Due: clang-format, cppcheck

wip
  src/web_vfs.h
Due: clang-format, cppcheck

wip
  src/web_vfs.h
  test/test_1basic.py
Due: clang-format, cppcheck, black

wow
  src/SQLiteVFS.h
  src/web_vfs.h
  test/test_1basic.py
Due: clang-format, cppcheck, black

instrumentation
  README.md
  src/web_vfs.h
Due: clang-format, cppcheck

barrier
  CMakeLists.txt
  src/ThreadPool.h
  src/web_vfs.h
Due: clang-format, cppcheck

barrier
  README.md
  src/ThreadPool.h
Due: clang-format, cppcheck

polish
  README.md
Due: none

eliminate HEAD
  README.md
  src/web_vfs.h
  test/test_1basic.py
Due: clang-format, cppcheck, black

immutable
  README.md
  test/test_1basic.py
Due: black

logging
  README.md
  src/web_vfs.h
Due: clang-format, cppcheck

polish
  README.md
  test/test_1basic.py
Due: black

fix
  README.md
  test/test_1basic.py
Due: black

fix
  README.md
Due: none

fix
  CMakeLists.txt
Due: none

Extent [pre]fetching (#1)
  README.md
  src/SQLiteVFS.h
  src/ThreadPool.h
  src/web_vfs.h
  test/test_1basic.py
Due: clang-format, cppcheck, black

prefetch accounting
  README.md
  src/web_vfs.h
Due: clang-format, cppcheck

lazy-load libcurl
  CMakeLists.txt
  src/HTTP.h
  src/web_vfs.cc
  src/web_vfs.h
Due: clang-format, cppcheck

polish
  src/HTTP.h
Due: clang-format, cppcheck

lazy-load libcurl (#2)
  CMakeLists.txt
  src/HTTP.h
  src/web_vfs.cc
  src/web_vfs.h
Due: clang-format, cppcheck

polish build
  CMakeLists.txt
  src/HTTP.h
Due: clang-format, cppcheck

flush more log messages
  src/web_vfs.h
Due: clang-format, cppcheck

more logging
  src/web_vfs.h
Due: clang-format, cppcheck

more logging
  src/HTTP.h
  src/web_vfs.h
Due: clang-format, cppcheck

more logging
  src/HTTP.h
Due: clang-format, cppcheck

more logging
  CMakeLists.txt
  src/HTTP.h
Due: clang-format, cppcheck

fix
  src/HTTP.h
Due: clang-format, cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
