Repository mlin/sqlite_web_vfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: clang-format
    args: [-i,'-style={IndentWidth: 4, ColumnLimit: 100}']
  - id: cppcheck
    name: cppcheck
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: cppcheck
    args: [-q,--language=c++]
  - id: black
    name: black
    language: system
    files: \.py$
    verbose: true
    entry: black
    args: [-l,'100']

polish
  README.md
  sqlite_web_dbi.py
  src/dbi.h
  src/web_vfs.h
Due: clang-format, cppcheck, black

polish
  README.md
Due: none

polish
  sqlite_web_dbi.py
  src/dbi.h
Due: clang-format, cppcheck, black

add .dbi helper mode (#6)
  README.md
  sqlite_web_dbi.py
  src/dbi.h
  src/web_vfs.h
  test/local_stress_test.cc
  test/test_1basic.py
Due: clang-format, cppcheck, black

sqlite_web_dbi.py: spike-in first & last 64 KiB of pages
  sqlite_web_dbi.py
Due: black

polish docs & usage
  README.md
  sqlite_web_dbi.py
Due: black

sqlite_web_dbi.py: include zstd_vfs pages_btree_interior_pageno
  sqlite_web_dbi.py
Due: black

web_small_KiB option to tune request sizes
  src/HTTP.h
  src/dbi.h
  src/web_vfs.h
Due: clang-format, cppcheck

small extent must be at least 1 page
  src/web_vfs.h
Due: clang-format, cppcheck

bump dependency versions
  CMakeLists.txt
  README.md
Due: none

Refactor logging for reuse by other VFS implementations
  README.md
  src/SQLiteVFS.h
  src/dbi.h
  src/web_vfs.h
Due: clang-format, cppcheck

polish
  src/SQLiteVFS.h
Due: clang-format, cppcheck

polish
  CMakeLists.txt
  src/SQLiteVFS.h
Due: clang-format, cppcheck

polish
  src/web_vfs.h
Due: clang-format, cppcheck

Refactor logging for reuse by other VFS implementations (#7)
  CMakeLists.txt
  README.md
  src/SQLiteVFS.h
  src/dbi.h
  src/web_vfs.h
Due: clang-format, cppcheck

polish log header
  src/SQLiteVFS.h
Due: clang-format, cppcheck

devops: use `pkgconfig` to resolve dependencies
  CMakeLists.txt
  Dockerfile
Due: none
